.cover-img-center-max {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: hidden;
}
.cover-img-center-max img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cover-img-center-max a {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.text-hd {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cms-boxsha {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.06);
}
.boxTop {
  padding: 42px 0 0 0;
  background: #FFFFFF;
  box-sizing: border-box;
  height: 240px;
  border-top: 2px solid #f3f2f9;
}
.boxTop .ListTit {
  font-size: 40px;
  color: #1d1b5c;
}
.boxTop .badge {
  font-size: 12px;
  vertical-align: text-top;
}
.boxTop .topshowbox {
  height: 112px;
}
.boxTop .ListTitTips {
  color: #8585a7;
  font-size: 14px;
  margin-top: 6px;
}
.tipsTopImg {
  height: 96px;
  width: 600px;
  display: block !important;
  border-radius: 14px;
}
.tipsTopImgbox {
  padding: 0;
  border: none;
  height: 96px;
  width: 600px;
  float: right;
  background: transparent;
}
.tipsTopImgbox .close {
  right: -2px;
  top: -8px;
  padding: 0;
  height: 20px;
  width: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  background: #FFFFFF;
  border-radius: 100%;
  font-size: 12px;
  color: #000000;
  box-shadow: 1px 4px 7px #ccc;
  -webkit-box-shadow: 1px 4px 7px #ccc;
  opacity: 1;
}
.CheckBoxM {
  margin-top: 1rem;
}
.CheckBoxM .btn-secondary {
  background: transparent;
  border-radius: 14px;
  color: #1d1b5c;
  font-weight: bolder;
  font-size: 12px;
  border: 1px solid #B6B6CB;
}
.CheckBoxM .dropdown {
  display: inline-block;
  margin-right: 1.35rem;
}
.CheckBoxM .dropdown:last-child {
  margin-right: 0;
}
.rankorderbox {
  text-align: right;
  color: #1d1b5c;
  font-weight: bolder;
  font-size: 14px;
  margin-top: .5rem;
}
.rankorderbox > span {
  margin-right: 1.35rem;
  position: relative;
  cursor: pointer;
}
.rankorderbox > span:last-child {
  margin-right: 0;
}
.rankorderbox > span.active:before {
  width: 1.2rem;
}
.rankorderbox > span:before {
  position: absolute;
  content: '';
  background: #008eff;
  width: 0;
  height: 3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -7px;
  transition: all 500ms ease;
  -webkit-mask-image: linear-gradient(-75deg, rgba(244, 55, 55, 0.24) 50%, #f43737 50%, rgba(0, 0, 0, 1) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
.CD-list {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.CD-list li {
  list-style: none;
  float: left;
  border-radius: 14px;
  width: calc((100% - ( 20px * 3 )) / 4);
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  height: 115px;
  background: white;
  padding: 5px;
}
.CD-list > li:nth-child(4n) {
  margin-right: 0;
}
.CdPlayerBox {
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 5px;
}
.CD-icon {
  width: 80px;
  height: 80px;
  display: block;
  background: url("../images/CD.png") no-repeat;
  background-size: 100%;
  margin-top: -15px;
  border-radius: 100%;
  cursor: pointer;
}
.CdPlayerBox i {
  opacity: 0;
  transition: opacity ease-in 300ms;
}
.CdPlayerBox i.active {
  opacity: 1;
}
.CdPlayerBox .btnCD {
  position: absolute;
  font-size: 12px;
  color: #ffffff;
  left: calc((100% - 1rem) / 2 + 2px);
  top: calc((100% - 1rem) / 2);
  display: block;
  cursor: pointer;
}
.CD-list .row > div:first-child {
  padding-right: 0;
}
.CD-list .row > div:last-child {
  padding-left: 0;
}
.CD-list .cont-bar {
  padding-right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.CD-list .cont-bar i {
  font-size: 12px;
}
.CD-list .cont-bar > span {
  margin-right: 5px;
  display: inline-block;
  min-width: calc((100% - 10px) / 2);
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
  color: #c5c5d5;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.CD-list .cont-bar > span:last-child {
  margin-right: 0;
}
.CD-icon.active {
  -webkit-animation: audio-rotate 10s linear 0s infinite;
  -moz-animation: audio-rotate 10s linear 0s infinite;
  animation: audio-rotate 10s linear 0s infinite;
  -webkit-box-shadow: 0 6px 11px 0 rgba(214, 86, 219, 0.14);
  box-shadow: 0 6px 11px 0 rgba(214, 86, 219, 0.14);
}
.CD-list video {
  height: 5px;
  width: 100%;
}
.CD-list .CD-tit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #1d1b5c;
  margin-top: 10px;
  font-weight: bolder;
}
.CD-list .CD-tit a {
  color: #1d1b5c;
  text-decoration: none;
  cursor: pointer;
}
.CD-list li {
  transition: all ease 300ms;
}
.CD-list li:hover {
  -webkit-box-shadow: 0 34px 20px -24px rgba(136, 161, 206, 0.3);
  box-shadow: 0 34px 20px -24px rgba(136, 161, 206, 0.3);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -ms-transform: translateY(-5px);
}
.CD-list .DownTool {
  font-size: 12px;
  text-align: right;
  height: 30px;
  line-height: 30px;
}
@-webkit-keyframes audio-rotate {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-moz-keyframes audio-rotate {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes audio-rotate {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.CD-list .progress {
  height: 5px;
  margin-top: 8px;
  cursor: pointer;
}
.CD-list .progressbox {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
.CD-list .progress-timebox {
  text-align: right;
}
.CD-list .progress-time {
  margin-left: .5rem;
}
.toolbar-desc {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all ease 300ms;
  height: 60px;
  overflow: hidden;
}
.toolbar-desc .tag-span-tool {
  color: #F7F7F7;
  font-weight: normal;
  font-size: 12px;
  padding: 0 10px;
}
.toolbar-desc .desc-li {
  font-size: 12px;
  color: #c5c5d5;
  padding: 0 10px;
  height: 27px;
  line-height: 27px;
}
.toolbar-desc .desc-li i {
  font-size: 12px;
}
.toolbar-desc .desc-li .munsrcoe {
  font-size: 12px;
}
.toolbar-desc .desc-li .cont-bar {
  padding-right: 0;
}
.toolbar-desc .desc-li .cont-bar > span {
  margin-right: 5px;
  display: inline-block;
  min-width: 50px;
}
.toolbar-desc .desc-li .vip-desc {
  text-align: right;
  padding-left: 0;
}
.tag-span-tool {
  color: #c5c5d5;
  font-size: 12px;
  margin-top: 10px;
  font-weight: bolder;
}
.tag-span-tool > span::after {
  content: '/';
  margin: 0 5px;
}
.tag-span-tool > span:last-child::after {
  display: none;
}
.box-list .desc-li {
  margin-top: 20px;
  font-size: 12px;
  color: #c5c5d5;
  height: 27px;
  line-height: 27px;
}
.box-list .desc-li i {
  font-size: 12px;
}
.box-list .desc-li .cont-bar {
  padding-right: 0;
}
.box-list .desc-li .cont-bar > span {
  margin-right: 5px;
  display: inline-block;
  min-width: 50px;
}
.box-list .desc-li .vip-desc {
  text-align: right;
  padding-left: 0;
}
.downi i {
  font-size: 20px !important;
  color: #c5c5d5;
}
.vipi i {
  font-size: 20px !important;
  color: #ffd600;
}
.disi {
  background: rgba(255, 101, 94, 0.08);
  padding: 1px 5px;
  border-radius: 14px;
}
.disi i {
  font-size: 12px !important;
  color: #ff655e;
}
.disi .dis-num {
  font-size: 12px;
  color: #ff655e;
}
.munsrcoe {
  color: #ff655e;
  font-size: 14px;
  margin-right: 2px;
  font-weight: bolder;
}
/*主题重写*/
.boxTop .badge.badge-primary {
  background: #d656db;
}
.meun .active {
  color: #d656db;
}
.rankorderbox > span:before {
  background: #d656db;
}
footer .footerTop .vippeorbox .vipcount {
  color: #d656db;
}
